<html >
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <h4>Welcome</h4>
    <br>
    <form>
  <div>
    <label><h6>Your first string</h6></label>
    <div>
      <input type="text">
      <br>
    </div>
  </div>
  <br>
  <div >
    <label><h6>your second string</h6></label>
    <div>
      <input type="text">
    </div>
  </div>
  <br>
  <input type="button" value="submit">
  </form>
  <br>
  <h6>Nomber Of Changes Needed</h6>

  </body>
</html>
